button {
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #0450d5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0339a8;
}

button:active {
  background-color: #022975;
}

.UI-Debug {
  position: absolute;
  top: 700px;
  left: 100Px;
  align-items: center;

}



.bottom-controls {
  position: absolute;

  bottom: 4%;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  gap: 12px;

  z-index: 50;
}

