.targetWindow {
  position: absolute;

  top: 5%;
  right: 5%;

  width: clamp(120px, 18vw, 220px);

  aspect-ratio: 1 / 1;

  border-radius: 28px;

  overflow: hidden;

  z-index: 30;

  background: linear-gradient(
    135deg,
    #7d76cf 0%,
    #51458f 45%,
    #7f72d1 100%
  );

  border: 6px solid rgba(255,255,255,0.15);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.35),
    inset 0 2px 8px rgba(255,255,255,0.18),
    inset 0 -4px 12px rgba(0,0,0,0.22);
}

.top-bar {
  position: absolute;

  top: 4%;
  left: 4%;

  z-index: 40;
}

.windowText {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;

  margin: 0;
  z-index: 10;

  text-align: center;
  pointer-events: none;

  color: #ffe57e;
  font-size: 24px;
  font-weight: bold;

  text-shadow:
    0 1px 0 #000,
    0 2px 0 #000,
    0 3px 0 #000,
    0 4px 6px rgba(0, 0, 0, 0.6);
}