.button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.primary {
  background-color: var(--color-gold-light);
  color: var(--color-black);
  width: 8rem;
  border: 2px solid var(--color-brown-main);
}

.secondary {
  background-color: var(--color-brown-main);
  color: var(--color-gold-light);
  border: 2px solid;
}

.button:active {
  transform: scale(0.95);
}
