.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background: var(--color-gold-main);
  backdrop-filter: blur(20px);
  color: var(--color-black);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  min-width: 280px;
}
